@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,800&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* text */

.global-text{
  font-size: 30px;
  line-height: 36px;
}

.footer-inputLabel{
  font-size:  24px;
  line-height: 32px;
}

.landing-text{
  font-size: 48px;
  line-height: 1;
}


@media (max-width: 625px) {
  
  .global-text{
    font-size: 25px;
    line-height: 16px;
  }

  .landing-text{
    font-size: 30px;
    line-height: 1;
  }

}

@media (max-width: 425px) {
  
  .footer-inputLabel{
    font-size: 20px;
    line-height: 16px;
  }
}

/* Header page */

.navlink li{
  display: flex;
}

.Header-SideNav{
  display: none;
}

.Header--AnimateIntro{
  animation-name: AnimateIntro;
  animation-duration: 0.3s;
  }

.global-padding{
  padding: 0 64px;
  }

.header-icon{
  margin-left: 32px;
} 

.fav-icon{
  display: block;
}

@media (max-width: 625px) {

  .fav-icon{
    display: none;
  }

  .header-icon{
    margin-left: 20px;
  } 

}

@keyframes AnimateIntro {
  0%{transform:translate(0%, -100%)}
  100%{transform:translate(0%, 0%)}
}  


/* .Header--AnimateExit{
  animation-name: AnimateExit;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  }

@keyframes AnimateExit {
  0%{transform:translate(0%, 0%)}
  100%{transform:translate(0%, -50%);}
}  */

li span{
  align-items: center;
  margin-top: 5px;
  margin-left: 8px;
}

@media (max-width: 1024px){

  .Header-SideNav{
    display: block;
  }

  .Header-navlink{
    display: none;
  }

}

@media (max-width: 768px){

  .global-padding{
    padding: 0 30px;
    }
  
}

@media (max-width: 355px){

  .global-padding{
    padding: 0 10px;
    }

  .popular-padding{
      padding: 0 10px;
  }
  
}


/* slogan */

.slogan-Icon{
  height: 12vh;
  width: 12vh;
}

.Slogans-Holder{
  height: 35vh;
  border-radius: 5px;
}

.Slogan-Container{
  padding: 0 64px;
 }

 .slogan-description{
  font-size: 20px;
  line-height: 28px;
}


@media (max-width: 1024px){

  .slogan-Icon{
    height: 12vh;
    width: 12vh;
  }

  .Slogans-Holder{
    border-radius: 0px;
  }
  

   .Slogan-Container{
    padding: 0;
   }

}

@media (max-width: 880px){

  .Slogans-Holder{
    height: 400px;
   
  }

  .slogan-IconContainer{
    margin: 5vw;
  }
}

@media (max-width: 610px){

  .slogan-Icon{
    height: 90px;
    width: 90px;

  }
   
  .slogan-description{
    font-size: 16px;
  }

  .slogan-IconContainer{
    margin: 3vw;
  }

  .Slogans-Holder{
    height: 400px;
  }
}

@media (max-width: 425px){

  .slogan-Icon{
    height: 70px;
    width: 70px;

  }

  .slogan-IconContainer{
    width: 120px;
  }
}


/* HomeSlider page */
.image-intro{
  animation: imageintro 0.3s; 
}

@keyframes imageintro {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-image { 
  animation: fadeIn 0.5s; 
}

.HomeSlider--button{
  padding:  20px 24px;
  width: 180px;
}

.HomeSlider--button:hover{
  opacity: 70%;
  transition: 0.3s;
}

@media (max-width: 625px) {

  .HomeSlider--button{
    padding:  16px 12px;
    width: 150px;
    font-size: 14px;
  }

}

/* PopularItems page */ /* Popular page */

.Popular--ScrollSection::-webkit-scrollbar{
  display: none;
}

.popular-padding{
  padding: 0 64px;
}

.Popularitems--quickBagIntro{
  animation-name: fadeIn;
  animation-duration: 0.2s;
  cursor: pointer;
}

.Popularitems--quickBagIntro:hover{
  opacity: 80%;
}

@keyframes fadeIn {
  0% {transform: translate(0%, 80%);
    opacity: 0%;}
  100% {transform: translate(0%, 0%);}
}

.Popularitems--quickBagExit{
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {transform: translate(0%, 0%);}
  100% {transform: translate(0%, 80%);
    opacity: 0%;}
}


.PopularItems--ImagefadeIntro {
  animation-name: opacityChangeIntro;
  animation-duration: 0.3s;
}

@keyframes opacityChangeIntro {
  0% {opacity: 10%;}
  50% {opacity: 50%;}
  100% {opacity: 100%;}
}

@media (max-width:768px) {
  
  .popular-padding{
    padding: 0 30px;
  }  

}

@media (max-width: 355px){

  .popular-padding{
      padding: 0 10px;
  }
  
}

/* ourItems */

.OurItems--Products{
  transition: 0.5s;
}

.OurItems--Products:hover{
  transform: scale(1.1);
}

.OutItems--IconIntro{
  animation-name: IconIntro;
  animation-duration: 0.2s;
}

@keyframes IconIntro {
  0%{transform: translate(-40%, 0%);
    opacity: 0;}
  100%{transform: translate(0%, 0%);}
}

.OutItems--IconExit{
  animation-name: IconExit;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes IconExit {
  0%{transform: translate(0%, 0%);}
  100%{transform: translate(-40%, 0%);
  opacity: 0;}
}

/* ProductInfo page */

.ProductInfo--description::-webkit-scrollbar{
  display: none;
}

.productInfo-orderbtn{
  width: 300px;
}

.ProductInfo--description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  margin-left: 40px;
  height: 550px;
  width: 50%;
  padding: 8px;
}

.ProductInfo--productAbout{
  opacity: 0.8;
}

.productInfo-main{
  height: 85vh;
  margin-top: 90px;
  width: 100vw;
}

.productInfo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.productInfo-Img{
  height: 550px;
  width: 400px;
}

@media (max-width: 1280px) {

  .productInfo-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
  }

  .productInfo-main{
    height: auto;
    width: 100vw;
    margin-top: 100px;
  }

  .ProductInfo--description{
    overflow:visible;
    margin-bottom: 30px;
    margin-top: 30px;
    height: auto;
    width: 80vw;
    padding: 8px;
    margin-left: 0px;
  }

  .productInfo-Img{
    height: 500px;
    width: 380px;
  }
  
}

@media (max-width: 768px) {
  .productInfo-Img{
    height: 400px;
    width: 320px;
  }

}

@media (max-width: 425px) {

  .productInfo-orderbtn{
    width: 280px;
  }

  .ProductInfo--description{
    width: 100%;
    padding: 0 10px;
  }

}



/* AccessoriesCollection page */

.Collection--scrollhide::-webkit-scrollbar {
  display: none;
}


/* Loading */

@keyframes ldio-odtg1yzmetf-o {
    0%    { opacity: 1; transform: translate(0 0) }
   49.99% { opacity: 1; transform: translate(40px,0) }
   50%    { opacity: 0; transform: translate(40px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ldio-odtg1yzmetf {
    0% { transform: translate(0,0) }
   50% { transform: translate(40px,0) }
  100% { transform: translate(0,0) }
}
.ldio-odtg1yzmetf div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 60px;
  left: 20px;
}
.ldio-odtg1yzmetf div:nth-child(1) {
  background: #000000;
  animation: ldio-odtg1yzmetf 1s linear infinite;
  animation-delay: -0.5s;
}
.ldio-odtg1yzmetf div:nth-child(2) {
  background: #a69f9f;
  animation: ldio-odtg1yzmetf 1s linear infinite;
  animation-delay: 0s;
}
.ldio-odtg1yzmetf div:nth-child(3) {
  background: #000000;
  animation: ldio-odtg1yzmetf-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loadingio-spinner-dual-ball-0at5cijh53fj {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.ldio-odtg1yzmetf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-odtg1yzmetf div { box-sizing: content-box; }

/* LoginPage */

.login--Page{
  height: 92vh;
  width: 400px;
}

.login--Page::-webkit-scrollbar {
  display: none;
}

@media (max-width: 426px){

  .login--Page{
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  }
}


/* OurProducts */

.ourproducts-padding{
  padding: 0 64px;
}

.items--ourProduct{
  justify-content: space-between;
}

@media (max-width: 700px) {

  .items--ourProduct{
    justify-content: space-around;
  }

  .ourproducts-padding{
    padding: 0 30px;
  }

}

@media (max-width: 1520px) {

}

/* OurItems */

.parent--ourItems, .child--ourItems{
  height: 29vw;
  width: 29vw;
  
}

@media (max-width: 1300px) {

  .parent--ourItems, .child--ourItems{
    height: 27vw;
    width: 27vw;
    
  }
}

@media (max-width: 900px) {

  .parent--ourItems, .child--ourItems{
    height: 40vw;
    width: 40vw;
    
  }
}

@media (max-width: 740px) {

  .parent--ourItems, .child--ourItems{
    height: 50vh;
    width: 82vw;
  }
}

/* Footer */

.footer-giveAwayInput{
  width: 350px;
}

.Footer--AboutWeb{
  width: 70%;
  justify-content: space-evenly;
}

.Footer--items li{
  cursor: pointer;
  opacity: 0.7;
  font-weight: 600;
}

.Footer--items li:hover{
  text-decoration: black;
  opacity: 0.9;
}

.Footer--GiveawayEnter:hover{
  background-color: black;
  color: white;
  transition: ease-in-out 0.4s;
}

@media (max-width: 1303px){

  .footer-giveAway{
    width: 100%;
  }

  .footer-giveAwayInput{
    width: 100%;
  }

  .Footer--AboutWeb{
    width: 100%;
  }

}

@media (max-width: 425px){

  .Footer--AboutWeb{
    justify-content: left;
  }

  
}

/* productCollection */

.collection-page{
  display: flex;
  justify-content: space-between;

}

.collection-filter{
  position: sticky;
  width : 25%;
  height: 100%;
  padding: 0 56px;
  margin-left: 16px;

}

.collection-products{
  gap: 0 40px;

  padding: 0 40px;
}

.collection-productContainer{
  width: 75%;

}

.collection-imgParent{
  height: 400px;
  width: 300px;
}

.collection-imgcontainer{

  height: 480px;
  width: 302px;
}

@media (max-width: 1440px) {

  .collection-page{
    justify-content: space-evenly;
  }

  .collection-productContainer{
    width: 750px;
  }

  .collection-products{
    padding: 0 35px;
  }
  

  .collection-filter{
    margin-left: 0px;
    padding: 0 40px;
  }

  .collection-filter{
    width : 30%;
    
}
}


@media (max-width: 1024px) {

  .collection-filter{
    position: static;
    height: 100%;
    width: 300px;
  }

  .collection-productContainer{
    width: 100%;
  }

  .collection-page{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 2%;
  }

  .collection-products{

    padding: 0 5%;
    gap: 0 40px;
  }

  .collection-imgcontainer{
  
    height: 40vw;
    width: 40vw;
  }
  
  .collection-imgParent{
    height: 40vw;
    width: 40vw;
  }
  
 
  
}

@media (max-width: 768px) {

  .collection-page{
    align-items: center;
  }

  .collection-imgcontainer{
  
    height: 50vw;
    width: 50vw;
  }
  
  .collection-imgParent{
    height: 50vw;
    width: 50vw;
  }

  .collection-products{
    justify-content: center;
    padding: 0%;
  }
}

@media (max-width: 600px) {

  .collection-imgcontainer{
  
    height: 480px;
    width: 302px
  }

  .collection-imgParent{
    height: 400px;
    width: 300px;
  }

 
}

/* UserOrder */

.QuickBag{
  height: 92vh;
  width: 650px
}

.quickbag--orderInfo::-webkit-scrollbar{
  display: none;
}

.fav--favorites::-webkit-scrollbar{
  display: none;
}

.quickbag-orderImgContainer{
  display: flex;
}

.quickbag-orderImg{
  width: 200px;
}

@media (max-width:768px) {
  
  .QuickBag{
    height: 92vh;
    width: 90vw;
  }
}

@media (max-width:600px) {

  .quickbag-orderImgContainer{
    display: block;
  }

  .quickbag-orderImg{
    width: 100%;
  }
}

/* profile */

.login-container{
  width: 400px;
}

@media (max-width:600px) {
  .login-container{
    width: 90vw;
  }
}