@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,800&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header page */

.navlink li{
  display: flex;
}

.Header--AnimateIntro{
  animation-name: AnimateIntro;
  animation-duration: 0.3s;
  }

@keyframes AnimateIntro {
  0%{transform:translate(0%, -100%)}
  100%{transform:translate(0%, 0%)}
}  

/* .Header--AnimateExit{
  animation-name: AnimateExit;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  }

@keyframes AnimateExit {
  0%{transform:translate(0%, 0%)}
  100%{transform:translate(0%, -50%);}
}  */

li span{
  align-items: center;
  margin-top: 5px;
  margin-left: 8px;
}

/* HomeSlider page */

.HomeSlider--button:hover{
  opacity: 95%;
  transition: 0.3s;
}

/* PopularItems page */

.Popularitems--quickBagIntro{
  animation-name: fadeIn;
  animation-duration: 0.2s;
  cursor: pointer;
}

.Popularitems--quickBagIntro:hover{
  opacity: 80%;
}

@keyframes fadeIn {
  0% {transform: translate(0%, 80%);
    opacity: 0%;}
  100% {transform: translate(0%, 0%);}
}

.Popularitems--quickBagExit{
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {transform: translate(0%, 0%);}
  100% {transform: translate(0%, 80%);
    opacity: 0%;}
}


.PopularItems--ImagefadeIntro {
  animation-name: opacityChangeIntro;
  animation-duration: 0.3s;
}

@keyframes opacityChangeIntro {
  0% {opacity: 10%;}
  50% {opacity: 50%;}
  100% {opacity: 100%;}
}

/* popular page */


/* ourItems */

.OurItems--Products{
  transition: 0.5s;
}

.OurItems--Products:hover{
  transform: scale(1.1);
}

.OutItems--IconIntro{
  animation-name: IconIntro;
  animation-duration: 0.2s;
}

@keyframes IconIntro {
  0%{transform: translate(-40%, 0%);
    opacity: 0;}
  100%{transform: translate(0%, 0%);}
}

.OutItems--IconExit{
  animation-name: IconExit;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes IconExit {
  0%{transform: translate(0%, 0%);}
  100%{transform: translate(-40%, 0%);
  opacity: 0;}
}

/* Popular page */

.Popular--ScrollSection::-webkit-scrollbar{
  display: none;
}

/* Footer page */

.Footer--items li{
  cursor: pointer;
  opacity: 0.7;
  font-weight: 600;
}

.Footer--items li:hover{
  text-decoration: black;
  opacity: 0.9;
}

.Footer--GiveawayEnter:hover{
  background-color: black;
  color: white;
  transition: ease-in-out 0.4s;
}

/* ProductInfo page */

.ProductInfo--description::-webkit-scrollbar{
  display: none;
}

.ProductInfo--productAbout{
  opacity: 0.8;
}

/* AccessoriesCollection page */

.Collection--scrollhide::-webkit-scrollbar {
  display: none;
}
